In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
markets_df = pd.read_csv('/Users/catherinefuller/galvanize/daimil10/projects/Mid_Term/Myanmar_Food/data/wfp_food_prices_mmr 2.csv')

In [4]:
#Remove first row
markets_df.drop(index=markets_df.index[0], axis=0, inplace=True)

In [40]:
markets_df.tail()
markets_df.value_counts('admin1')

admin1
Rakhine         7687
Shan (North)    7539
Kachin          5614
Chin            3440
Magway          2693
Yangon          1434
Sagaing         1301
Shan (South)    1088
Mon              842
Mandalay         823
Kayin            727
Tanintharyi      564
Kayah            271
Shan (East)      172
Name: count, dtype: int64

In [7]:
markets_df.value_counts('market')

market
Lashio Market            796
Buthidaung               594
Manton                   567
Momauk                   564
Pakokku Myo Ma Market    560
                        ...
Kan Htaunt Camp            5
Kawt Dut                   5
Thet Yet Pin Chaung        5
88 ward                    5
Jaw Masat                  1
Name: count, Length: 231, dtype: int64

In [8]:
#Find out over how many months data was collected
y = 13
m = 12
y * m

156

In [31]:
#Clean Data- Convert time to Datetime

markets_df['date'] = pd.to_datetime(markets_df['date'])

In [32]:
#Clean Date - Convert the price columns to float
markets_df['price'] = markets_df['price'].astype(float).round(2)
markets_df['usdprice'] = markets_df['usdprice'].astype(float).round(2)

In [44]:
markets_df.rename(columns = {'admin1':'region', 'admin2':'subregion'}, inplace = True)
markets_df.head()

,date,region,subregion,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice,region,sub_region
1,2008-01-15,Kachin,Myitkyina,Wai Maw,25.34222,97.44001,cereals and tubers,Rice (low quality),KG,actual,Retail,MMK,400.00,63.08,Kachin,Myitkyina
2,2008-01-15,Kachin,Myitkyina,Wai Maw,25.34222,97.44001,"meat, fish and eggs",Meat (chicken),KG,actual,Retail,MMK,3636.36,573.44,Kachin,Myitkyina
3,2008-01-15,Kachin,Myitkyina,Wai Maw,25.34222,97.44001,"meat, fish and eggs",Meat (pork),KG,actual,Retail,MMK,3636.36,573.44,Kachin,Myitkyina
4,2008-01-15,Kachin,Myitkyina,Wai Maw,25.34222,97.44001,vegetables and fruits,Onions,KG,actual,Retail,MMK,969.70,152.92,Kachin,Myitkyina
5,2008-01-15,Kachin,Myitkyina,Wai Maw,25.34222,97.44001,vegetables and fruits,Tomatoes,KG,actual,Retail,MMK,484.85,76.46,Kachin,Myitkyina

In [45]:
#Filter out markets with under 150 data points

#top_markets = markets_df.value_counts('market') > 149
market_mask = markets_df['market'].value_counts()
top_marks = markets_df[markets_df['market'].isin(market_mask.index[market_mask>150])]

top_marks.head()

,date,region,subregion,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice,region,sub_region
1,2008-01-15,Kachin,Myitkyina,Wai Maw,25.34222,97.44001,cereals and tubers,Rice (low quality),KG,actual,Retail,MMK,400.00,63.08,Kachin,Myitkyina
2,2008-01-15,Kachin,Myitkyina,Wai Maw,25.34222,97.44001,"meat, fish and eggs",Meat (chicken),KG,actual,Retail,MMK,3636.36,573.44,Kachin,Myitkyina
3,2008-01-15,Kachin,Myitkyina,Wai Maw,25.34222,97.44001,"meat, fish and eggs",Meat (pork),KG,actual,Retail,MMK,3636.36,573.44,Kachin,Myitkyina
4,2008-01-15,Kachin,Myitkyina,Wai Maw,25.34222,97.44001,vegetables and fruits,Onions,KG,actual,Retail,MMK,969.70,152.92,Kachin,Myitkyina
5,2008-01-15,Kachin,Myitkyina,Wai Maw,25.34222,97.44001,vegetables and fruits,Tomatoes,KG,actual,Retail,MMK,484.85,76.46,Kachin,Myitkyina

In [34]:
# market_idx = top_marks.groupby('market')['usdprice'].sum()
# market_idx

market
Ah Nauk Pyin       242.79
Ah Nauk Ywe        202.06
Ahpauk Wa          182.90
Ai Cheng           407.89
Ba Yint Naung      164.02
                   ...
Yebyu Market       186.57
Yenanchaung      16814.05
Ying Phan          351.42
Zay Cho            149.70
Zedi Pyin        19220.02
Name: usdprice, Length: 92, dtype: float64

In [93]:
#Find top markets with highest commodity prices
commodity_mark = top_marks[['market','subregion','commodity','usdprice','date']]

#Let's find onions first
#Filter the dataframe to only list onions
top_onions = (commodity_mark['commodity'] == 'Onions') | (commodity_mark['commodity'] == 'Onions (local)')
high_onions = commodity_mark[top_onions]
high_onions.head(20)

#Find the top unique markets that had the highest ever onion prices
top_onion_markets = high_onions.groupby('market')['usdprice'].max().sort_values(ascending=False)
top_onion_markets

market
Long Tan          376.60
Sadung            352.72
Pang Kham         334.75
Pang Yang         334.75
Gangaw            299.14
                   ...
Kan Nar             1.41
Raldunn Market      1.27
Laukkaing           1.04
Bhamo               0.75
Nam Kam             0.70
Name: usdprice, Length: 85, dtype: float64